body {
  text-align: center;
}
ul {
  width: fit-content;
  margin: auto;
  margin-top: 25%;
  padding-left: 0;
  border: 1px solid rgba(128, 128, 128, 0.151);
  list-style: none;
  height: fit-content;
}
li:first-child {
  background-color: rgb(197, 197, 197);
}
p.temp {
  margin-bottom: 0;
  position: relative;
  color: grey;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  position: relative;
  top: -10px;
}
li {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
span.temp {
  position: relative;
  top: -20px;
}
span.min.temp {
  margin-right: 10px;
  color: rgb(46, 46, 46);
}

span.max.temp {
  color: grey;
}